<div id="bg" class="bgvid">
  <video id="preview-vid" poster="{{ site.asseturl }}img/{{ page.loop }}-poster.jpg" autoplay muted loop>
    <source src="{{ site.asseturl }}vid/{{ page.loop }}.mp4" type="video/mp4"></source>
    <source src="{{ site.asseturl }}vid/{{ page.loop }}.webm" type="video/webm"></source>
  </video>
</div>

<header>
	{% if page.announcement == true %}
		<div class="announcement">
			<div class="bg-secondary">
				<p class="center-text">Fancy Footage Club has closed. Footage is still available for download and use.</p>
			</div>
			<div class="bottom-curve bg-secondary"></div>
		</div>
	{% endif %}
	<h1 class="logo">
		<a href="/">
		  <img alt="Fancy Footage Club" src="{{ site.asseturl }}img/ffc_logotype.svg"/>
		</a>
	</h1>
</header>