<nav id="nav-menu" class="menu-container">
	<ul class="menu">
		<!--<li class="menu__item">
			<a href="/library">Library</a>
		</li>
		<li class="menu__item">
			<a href="{{ site.url }}/legal/termsofuse.pdf">Terms</a>
		</li>-->
		<li class="menu__item">
			<a href="/about">About</a>
		</li>
		<li class="menu__item">
			<a href="/help">Help</a>
		</li>
		<li class="menu__item">
			<a href="/faq">Sponsor</a>
		</li>
		<li class="menu__item">
			<a href="/contribute">Submit Footage</a>
		</li>
	</ul>
	<div class="bottom-curve short-curve bg-light"></div>
</nav>