<footer class="hushed small">
  <div class="footer-left">
    <p class="copyright">
      © 2015 <a href="http://trim.media">Trim Media LLC</a> | <a href="{{ site.url }}/legal/termsofuse.pdf">Terms</a>
    </p>
  </div>
  <div class="footer-right">
    <div class="social-icons">
      <a href="http://facebook.com/fancyfootageclub" onclick="ga('send', 'event', 'social', 'ex-click', 'fb');">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a href="http://instagram.com/fancyfootageclub" onclick="ga('send', 'event', 'social', 'ex-click', 'ig');">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="http://twitter.com/fancyfootage" onclick="ga('send', 'event', 'social', 'ex-click', 'tw');">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</footer>