<section class="popup popup--hidden">
	<header class="popup__header">
		<h1 class="logo">
			<a href="/">
				<img alt="Fancy Footage Club" src="{{ site.asseturl }}img/ffc_logotype.svg"/>
			</a>
		</h1>
	</header>
	<div class="popup__copy">
		<div >
			<h2 class="popup__purchase popup__copy--hidden">Thanks for purchasing!</h2>
			<h2 class="popup__download popup__copy--hidden">Thanks for downloading!</h2>
			<p class="center-text">
				Join our newsletter and be the first to know about the latest footage:
			</p>
			{% include components/subscribe-form.html %}
		</div>

		<a class="popup__exit" onclick="ga('send', 'event', 'link', 'click', 'popup-exit');">
			No thanks, take me back. 
		</a>
	</div>
	{% include components/footer-full.html %}
</section>

