<script>
	var button = document.querySelector('.button-secondary');
	var popup = document.querySelector('.popup');
	var exitPopup = popup.querySelector('.popup__exit');
	var body = document.querySelector('body');

	window.addEventListener('load',function(){
		button.addEventListener('click', function(){
			body.classList.add('noscroll');
			popup.classList.remove('popup--hidden');

			exitPopup.addEventListener('click', function(){
				body.classList.remove('noscroll');
				popup.classList.add('popup--hidden');
			})
		});
	});
</script>