<script>
	var button = document.querySelector('#formTrigger');
	var popup = document.querySelector('.popup');
	var exitPopup = popup.querySelector('.popup__exit');
	var body = document.querySelector('body');

	window.addEventListener('load',function(){
		button.addEventListener('click', function(){
			body.classList.add('noscroll');
			popup.classList.remove('popup--hidden');

			exitPopup.addEventListener('click', function(){
				body.classList.remove('noscroll');
				popup.classList.add('popup--hidden');
			})
		});
	});

	var form = document.getElementById("footage-submit-form");
	var inputs = form.querySelectorAll("input");


	form.addEventListener('submit', function(event) {
		event.preventDefault();

		for (var i = 0; i < inputs.length; i++) {
			if(inputs[i].required){
				if(inputs[i].value == null || inputs[i].value == ""){
					inputs[i].classList.add('invalid');
					var invalid = true;
				}else{
					inputs[i].classList.remove('invalid');
					var invalid = false;
				}
			}
		};

		if(invalid == true || invalid == null){
			return false;
		}
		else{
			ga('send', 'event', 'contributor', 'submit', {
				hitCallback: function() {
					form.submit();
				}
			});
		}
	});
</script>