<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
<script>
  // switch bgvid with bgimg on mobile devices
  var vid = document.getElementById("preview-vid");
  var progress = document.getElementById("bgVidProgress");
  var meta = document.querySelector(".download__meta");
  var dlButton = document.querySelector("#download-button");
  var loopCount = 0;

  window.addEventListener("load", function(){
    if (Modernizr.touch) {
        meta.appendChild(vid);
        vid.classList.add('download__video');
        document.querySelector('.controls').style.display = 'none';
    }
    else{
      bg.classList.remove("bg");
      bg.classList.add("bgvid");
    }
    vid.addEventListener('progress', function() {
      progress.value = Math.round((this.buffered.end(0) / this.duration) * 100);
    });
  });

  vid.addEventListener("seeked", function(){
      loopCount++;
    });

  dlButton.addEventListener("click", function(){
    var vidCompletion = vid.currentTime / vid.duration;
    var plays = +vidCompletion.toFixed(2) + loopCount;
    ga('send', 'event', 'loop', 'count', '{{ filename }}', plays);
    console.log(plays);
  });

</script>
<script>
  // info controls
  var triggerOn = document.querySelectorAll('.download__info'),
      buttons = document.querySelector('.download__buttons');

  for (var i = 0; i < triggerOn.length; i++) {
    triggerOn[i].addEventListener('click', show);
  };

  function show(){
    var parent = this,
        influence = this.getAttribute('data-influence');

    parent.classList.remove('is-hidden');
    parent.removeEventListener('click', show);
    parent.addEventListener('click', hide);
    if(influence == 'download__buttons'){
      document.querySelector('.' + influence).classList.add('is-hidden');
    }
  }

  function hide(){
    var parent = this,
        influence = this.getAttribute('data-influence');

    parent.classList.add('is-hidden');
    if(influence == 'download__buttons'){
      document.querySelector('.' + influence).classList.remove('is-hidden');
    }

    parent.removeEventListener('click', hide);
    parent.addEventListener('click', show);
  }
</script>
<script>
  // interface pane controls

  var closeBtn = document.querySelector(".close-btn");
  var pane = document.getElementById("main-js");

  if(sessionStorage.getItem('off-screen')){
    var offScreen = sessionStorage.getItem('off-screen');
    if(offScreen == 'true' || pane.classList.contains('is-ad')){
      toggleOffScreen(true);
    }
  }else{
    toggleOffScreen();
  }

  closeBtn.addEventListener('click', toggleOffScreen);

  function toggleOffScreen(isOffScreen) {
    pane.classList.toggle('is-off-screen');
    closeBtn.classList.toggle('open');
    if(isOffScreen != true){
      toggleStorage();
    }
  }

  function toggleStorage() {
    var offScreen = sessionStorage.getItem('off-screen');
    if(offScreen == 'true'){
      sessionStorage.setItem('off-screen', 'false');
    }
    else{
      sessionStorage.setItem('off-screen', 'true');
    }
  }

  document.addEventListener('keydown', checkKey);
  
  function checkKey(e) {
    e = e || window.event;
    prevLink = '{{ page.previous.url }}';
    nextLink = '{{ page.next.url }}'
    if (e.keyCode == '37') {
       // left arrow
      if(prevLink != ''){
        ga('send', 'event', 'link', 'key', 'prev');
        window.location.href = prevLink;
      }
    }
    else if (e.keyCode == '39') {
       // right arrow
      if(nextLink != ''){
        ga('send', 'event', 'link', 'key', 'next');
        window.location.href = nextLink;
      }
    }
    else if (e.keyCode == '73') {
      // 'I' key
      ga('send', 'event', 'link', 'key', 'toggleOffScreen');
      toggleOffScreen();
    }
    else if (e.keyCode == '76') {
      // 'L' key
      ga('send', 'event', 'link', 'key', 'library');
      window.location.href = '/#library';
    }
  }
</script>
<script>
  // display post-purchase overlay
  var downloadBtn = document.querySelector('#download-button'),
      purchaseBtn = document.querySelector('#purchase-button'),
      exitBtn = document.querySelector('.popup__exit'),
      popup = document.querySelector('.popup');

  if (downloadBtn){
    downloadBtn.addEventListener('click', showPopup);
  }
  if (purchaseBtn){ 
    purchaseBtn.addEventListener('click', showPopup);
  }

  exitBtn.addEventListener('click', function(){
    popup.classList.add('popup--hidden');
  });

  function showPopup(){
    popup.classList.remove('popup--hidden');

    if(this.id == 'download-button'){
      document.querySelector('.popup__download').classList.remove('popup__copy--hidden');
      document.querySelector('.popup__purchase').classList.add('popup__copy--hidden');
    }
    else if(this.id == 'purchase-button'){
      document.querySelector('.popup__purchase').classList.remove('popup__copy--hidden');
      document.querySelector('.popup__download').classList.add('popup__copy--hidden');
    }
  }
</script>