<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.5.3/modernizr.min.js"></script>
<script>
  var previewLinks = document.querySelector('.preview__nav').querySelectorAll('div');
  var previewHeader = document.querySelector('.preview__header');
  var previewArtist = document.querySelector('.preview__artist');
  var previewDownload = document.querySelector('.preview__download');
  var previewElements = [previewHeader, previewArtist, previewDownload];
  
  for (var i = 0; i < previewLinks.length; i++) {
    previewLinks[i].addEventListener('mouseover',function(){
      for (var i = 0; i < previewElements.length; i++) {
        previewElements[i].classList.add('hidden');
      };
    });
    previewLinks[i].addEventListener('mouseout',function(){
      for (var i = 0; i < previewElements.length; i++) {
          previewElements[i].classList.remove('hidden');
      };
    });
  };

  var vid = document.getElementById("preview-vid");
  var progress = document.getElementById("bgVidProgress");

  window.addEventListener("load", function(){
    vid.addEventListener('progress', function(){
      progress.value = Math.round((this.buffered.end(0) / this.duration) * 100);
    });
  });

</script>
<script>
  {% capture filename %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.loop }}{% endcapture %}
  document.addEventListener('keydown', checkKey);
  
  function checkKey(e) {
    e = e || window.event;
    prevLink = '{{ page.previous.url }}';
    nextLink = '{{ page.next.url }}';
    downloadLink = '{{ site.dlurl }}{{ filename }}.zip';

    if (e.keyCode == '37') {
       // left arrow
      if(prevLink != ''){
        ga('send', 'event', 'link', 'key', 'prev');
        window.location.href = prevLink;
      }
    }
    else if (e.keyCode == '39') {
       // right arrow
      if(nextLink != ''){
        ga('send', 'event', 'link', 'key', 'next');
        window.location.href = nextLink;
      }
    }
    else if (e.keyCode == '40') {
      // down arrow
      ga('send', 'event', 'loop', 'dl', 'dl-{{ filename }}');
      window.location.href = downloadLink;
    }
    else if (e.keyCode == '38') {
      // up arrow
      ga('send', 'event', 'link', 'key', 'library');
      window.location.href = '/#library';
    }
  }
</script>