---
layout: default
---

{% assign contributor = site.data.contributors[page.contributor] %}
{% assign sponsor = site.data.sponsors[page.sponsor] %}
{% capture filename %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.loop }}{% endcapture %}

<main class="preview">
	<header class="preview__header">
		<a class="preview__logo" href="/">
			<img alt="Fancy Footage Club" src="{{ site.asseturl }}img/ffc_logo.svg"/>
		</a>
	</header><!-- end .preview__header -->
	<section class="preview__loop">
		<video id="preview-vid" poster="{{ site.asseturl }}img/{{ filename }}-poster.jpg" autoplay muted loop>
			<source src="{{ site.asseturl }}vid/{{ filename }}.mp4" type="video/mp4"></source>
			<source src="{{ site.asseturl }}vid/{{ filename }}.webm" type="video/webm"></source>
		</video>
		<progress id='bgVidProgress' class="loading-bar" max='100' value='0'></progress>
	</section><!-- end .preview__loop -->
	<section class="preview__download">
		<a class="button button-muted" href="{{ site.dlurl }}{{ filename }}.zip" onclick="ga('send', 'event', 'loop', 'dl', 'dl-{{ filename }}');" download>
			Download Loop
		</a>
		<p>Free download available on desktop</p>
	</section><!-- end .preview__download -->
	<nav class="preview__nav">
		{% if page.previous %}
			<div class="prev">
				<a href="{{ page.previous.url }}" class="button button-muted">
					<i class="fa fa-angle-left"></i>
				</a>
			</div>
		{% endif %}
		{% if page.next %}
			<div class="next">
				<a href="{{ page.next.url }}" class="button button-muted">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		{% endif %}
	</nav><!-- end .preview__nav -->
	<section class="preview__artist">
		<h1>
			<span class="by-line">Loop by</span>
			<a class="artist-name" href="{{ contributor.url }}" target="_blank">{{ contributor.name }}</a>
		</h1>
		<ul class="link-list --icons">
			<li class="link-list__item"><a href="#">
				<i class="fa fa-twitter"></i>
			</a></li>
			<li class="link-list__item"><a href="#">
				<i class="fa fa-instagram"></i>
			</a></li>
			<li class="link-list__item"><a href="#">
				<i class="fa fa-youtube-play"></i>
			</a></li>
			<li class="link-list__item"><a href="#">
				<i class="fa fa-at"></i>
			</a></li>
		</ul>
	</section><!-- end .preview__artist -->
	{% include components/footer-small.html %}
</main>


